* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: olivedrab; */
}

h2 {
    text-align: center;
    margin: 30px auto;
}

.container {
    width: 60%;
    height: 200px;
    margin: 50px auto;
    background-color: pink;
}

.child-container {
    width: 30%;
    height: 50%;
    background-color: rgb(102, 102, 190);
}

.container-2 {
    width: 300px;
    height: 50vh;
    background-color: brown;
}

.child-container-2 {
    width: 50vw; /* vw et vh vont de 0 à 100 = 100% de la largeur / hauteur de l'écran */
    height: 50vw; /* si je veux un carré j'utilise l'unité vw même pour la hauteur */
    background-color: orange;
}

.container-3 {
    width: 20em; /* em relatif à la taille du texte = 16px */
    height: 300px;
    background-color: coral;
    margin: 30px auto;
    font-size: 16px;
}

.child-container-3 {
    width: 10em;
    height: 10em;
    background-color: greenyellow;
    padding: 1em; /* si font-size du parent fait 10px > le padding fera 10px, si 16px > padding 16px */
    /* les rem ne tiennent pas compte des parents mais valeur par défaut = 16px */
    /* si jamais je veux définir une taille par défaut il faut la mettre sur le parent du body > html */
}