* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: pink;
    width: 80%;
    min-width: 800px; /* en cas de réduction de la fenêtre */
    margin: 30px auto;
    padding: 20px 20px 40px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.container article {
    background-color: rgb(77, 102, 168);
    color: #fff;
    border: 1px solid #666 0.6;
    padding: 5px;
}

.container article h2 {
    font-weight: bold;
}

.container article:nth-child(1) {
    grid-column: span 2;
}

.container article:nth-child(5) {
    grid-column: span 3;
}

.container article:nth-child(9) {
    grid-column: span 3;
}
